@page
@model Front.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<form method="get" class="mb-4 row g-2 align-items-end">
    <div class="col-md-3">
        <label>Data Início</label>
        <input type="date" name="FilterStartDate" class="form-control"
               value="@(Model.FilterStartDate?.ToString("yyyy-MM-dd"))" />
    </div>

    <div class="col-md-3">
        <label>Data Fim</label>
        <input type="date" name="FilterEndDate" class="form-control"
               value="@(Model.FilterEndDate?.ToString("yyyy-MM-dd"))" />
    </div>

    <div class="col-md-3">
        <label>Vendedor</label>
        <select name="FilterVendedorId" class="form-control">
            <option value="">Todos</option>

            @foreach (var v in Model.Vendedores)
            {
                <option value="@v.Id"
                        selected="@(Model.FilterVendedorId == v.Id)">
                    @v.NomeCompleto - CPF: @v.Cpf
                </option>
            }
        </select>
    </div>

    <div class="col-md-3">
        <label>Status Invoice</label>
        <select name="FilterStatus" class="form-control">
            <option value="">Todos</option>
            <option value=1 selected="@(Model.FilterStatus == "Pendente")">Pendente</option>
            <option value=2 selected="@(Model.FilterStatus == "Aprovada")">Aprovada</option>
            <option value=3 selected="@(Model.FilterStatus == "Cancelada")">Cancelada</option>
        </select>
    </div>

    <div class="col-md-12 mt-2">
        <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
    </div>
</form>

<div class="row mb-4">
    <div class="col-md-3 d-flex">
        <div class="card p-3 border-primary h-100 w-100">
            <h5>Total de Invoices</h5>
            <h2>@Model.TotalInvoices</h2>
        </div>
    </div>

    <div class="col-md-3 d-flex">
        <div class="card p-3 border-warning h-100 w-100">
            <h5>Invoices Pendentes</h5>
            <h2>@Model.PendingInvoices</h2>
        </div>
    </div>

    <div class="col-md-3 d-flex">
        <div class="card p-3 border-info h-100 w-100">
            <h5>Valor Total Invoices Aprovadas</h5>
            <h2>@Model.TotalAprovadas.ToString("C")</h2>
        </div>
    </div>

    <div class="col-md-3 d-flex">
        <div class="card p-3 border-success h-100 w-100">
            <h5>Comissões Pendentes</h5>
            <h2>@Model.PendingCommissions.ToString("C")</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card p-3 border-secondary">
            <h5>Top 5 Vendedores por Comissão</h5>
            <ul>
                @foreach (var v in Model.TopVendedores)
                {
                    <li>@v.NomeCompleto - @v.ComissaoTotal.ToString("C")</li>
                }
            </ul>
        </div>
    </div>
</div>
